/* Estilos específicos para a página FAQ */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}

.faq-item {
  margin-bottom: 20px;
}

.question {
  font-weight: bold;
  cursor: pointer;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px; 
}

.answer {
  display: none;
  margin-top: 10px;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

body {
  margin: 0;
  padding: 0;
}

.faq-item > a{
  font-weight: bold;
  color: rgb(165, 6, 6);
}