
a {
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    color: #f0f0f0;
}

.menu-lista {
    list-style: none;
    display: flex;
    position: relative;
}

.menu-lista li {
    margin-left: 25px;
    position: relative;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    padding-top: 80px; 
}

.section {
    margin-bottom: 30px;
}

.section:last-child {
    margin-bottom: 0;
}

