/* Estilizando o elemento <details> */
details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilizando a seta que mostra/oculta o conteúdo */
  summary::-webkit-details-marker {
    display: none;
  }
  
  /* Estilizando o texto do summary */
  summary {
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Alterando a aparência quando o details está aberto */
  details[open] {
    background-color: rgb(235, 226, 216);
  }
  
  .doacao-sangue a {
    color: #6d0606; /* Azul escuro */
}

.doacao-sangue a:hover {
    color: #df0202; /* Azul mais claro quando hover */
}
